
    <div class="page-wrapper">
        <div class="page-container2" >
            <div class="main-content">
                <div class="section__content section__content--p30">
                  {{> messages}}
                     <div class="container-fluid">
                         <div class="row">
                                                     
                            <div class="col-md-12">
        
                                <h3 class="title-5 m-b-35">Control de pensiones</h3>
                                
                                <div class="table-responsive table-responsive-data2">
                                    <table class="table table-data2">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <label class="au-checkbox">
                                                        <input type="checkbox">
                                                        <span class="au-checkmark"></span>
                                                    </label>
                                                </th>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Lastname</th>
                                                <th>date</th>
                                                <th>Address</th>
                                                <th>Phone</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        {{#each students}}
                                        <tbody>
                                            <tr class="tr-shadow">
                                                <td>
                                                    <label class="au-checkbox">
                                                        <input type="checkbox">
                                                        <span class="au-checkmark"></span>
                                                    </label>
                                                </td>
                                                <td>{{id}}</td>
                                                <td>
                                                    <span class="block-email" style="color: #04ac4a;">{{name}}</span>
                                                </td>
                                                <td class="desc">{{lastname}}</td>
                                                <td>{{dateFormat date}} </td>
                                                <td>{{dateFormat date_quota}}</td>                                               </td>
                                                <td>{{phone}}</td>
                                                <td>
                                                    <div class="table-data-feature">
                                                        <button onclick="window.location.href='/admin/cancelorder/{{UserId}}'" class="item" data-toggle="tooltip" data-placement="top" title="Cancelar">
                                                            <i class="zmdi zmdi-mail-send"></i>
                                                        </button>
                                                        <button onclick="window.location.href='/admin/edit/{{id}}'" class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                            <i class="zmdi zmdi-edit"></i>
                                                        </button>
                                                        <button onclick="window.location.href='/admin/delete/{{id}}'" class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                            <i class="zmdi zmdi-delete"></i>
                                                        </button>
                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                            <i class="zmdi zmdi-more"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            </tbody>
                                            {{/each}}
                                    </table>
                                </div>
                                <!-- END DATA TABLE -->
                            </div>
                        </div>
       
                    </div>

                </div>
            </div>

